body {
    width: auto;
    height: auto;
        position: relative;
       background-image: url("http://s3.amazonaws.com/wboc-digital/production/sites/wboc/wp-content/uploads/2015/01/18130834/Grey-website-background.png");
        margin: 0;
    padding: 0;

}
h1{
font-size: 24pt;
font-family: sans-serif;
margin-bottom: auto;
}


nav{
    vertical-align: middle;
    
}

p{
    text-decoration: none;
    color: whitesmoke;
    font-family: sans-serif;
}

li{
    
    font-family: sans-serif;
}
a{
    text-decoration: none;
    font-size: 14pt;
    font-family: sans-serif;
    color: rgb(37, 5, 5);
}


header{
    width: 100%;
    height: 170px;
    position: absolute 0;
    border: solid transparent 1px;
    background-image: url("https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2020/05/shutterstock_1556534186.jpg?w=750");
    
}

#productpagelink{
    padding: 2px;
position: relative;
   }


footer{
    float: right;
    height: 35px;
    width: 1000px;
    border: solid transparent 1px;
    
        }
#companyname{ 
text-align: center;
font-size: 38px;
font-family: monospace;
color: silver;
vertical-align: center;
padding: 5px;
width: 700px;
height: 40px;
margin-top: 60px;

}

#packageMenu{
height: auto;
text-align: right;
float: right;
margin-bottom: auto;
position: relative;
}
.productpagelink{
        display: inline-block;
        margin-bottom: 10px;
        vertical-align: auto;
}

#content{
    width: 100%;
    height: 100%;
}

#sidebar{
 width: 30%;
 height: 725px;
border: solid transparent 1px;
position: relative;
float: left;
background-color: rgb(61, 1, 1);
}
.team{
border: outset transparent 2px;
border-radius: 35% 35% 35% 35%;
width: 176px;
text-align: center;
background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxAQEhANDxAQDw0NDQ0NDQ0QEBAQDQ0NFREWFhURFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDg0NDisZFRkrKysrKysrKy0rKysrNysrLSsrKystLTcrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAMIBAwMBIgACEQEDEQH/xAAaAAADAQEBAQAAAAAAAAAAAAACAwQABQEH/8QAKBAAAgIBAwMEAwEBAQAAAAAAAAECA/AEEXEhMWFBgZGhUbHhEtHx/8QAFgEBAQEAAAAAAAAAAAAAAAAAAAEC/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A+gsCaX4/QbYucs2Nso7O+f8AS3TMhk+v8L9Myi+pl1TIKi6ogoiMQuIxEV7uZsx5ICO6Qr/Qd/cUwAmxTYcxTkEZi2MYtsoFi5INsGXAEtqJpFNz8ErlnYAlz+wJLNmHEGTCp7UKUXjQ67OolPn5CH1cFdWdCStFdXsFVVlECetlECB8WNixUBsQGI8ZjxgYx5uYDm56Az4PVI0iohnvv/S7TIjt7lemZR0Ki6ohpLqiB8RsRURsSK9PJHoMwIL+4ph6juJYQMxZpMAoPOwEj3cB+wGkxcmGDNgSXMmks6lF3sIaWID2L5FWZ3G7ip8/TARYBGXj5CtaAgs6gUV8IqredCavO5TUFVQKK3nUnrZTBkD4Z3GxEwGxYDQWegyYHm5gdzBXOi+Pk0vYBM9edjTKWx9SzS8/ZHZ37fZZpUB0aS2shpL6yBsUNigIjIkV6kDMICwDnX9xMmMu7iphCJsBMKbAXP0ihqBkerk8YA9QJMPdgTb/ACBNbnYlk2UWoRJLGAK3/IMk/wAh7+foBpc++wCLc6sCIdueotLj4AohLgqqI4MrqedQqusogyasprIHwHRFQQ6KAICbGC5gKPQGzBXPjJYw5MRWxvXP/DTKex9SrS7eCaxeSnTIDo0surIqNy2sgfEZEUhkSKMXZ2C2F29gOdd3EzG29xMyomsbxgJs10hcZPNgKoszYMGZt4gPdwJrOp7uBN+GBNa/BPKQ+150Jpy8sD1Ayfj6PIyzEDN+H8gJtkLTzoe3PwBF5uBRVIrqfJDW0V1SCrq35KaySplVYFMB8SeA6PJAwVYMF2gIZgXnQ8CudXyP3zGIrZQkaZTWtlGl3E28sdpvf4A6lBbWRUItrIHRGRFoOJFGJu7Dtye9gQWCbBtjJ7M7lRLcKi+QrRS5QFlYTYqt+RoHm4uyQ18irGgI7Xz9Es87FNuxLPcoyfgCb5Nz+gJeCBNsvGfAtZ3PbJPx8gJ+EBRWyul8kMJPNyulhXRpkV1t/ghpLagKoZ0HRQitFEUQHsIu9ignuYEjS8GM2ehXNra9SleP0Sx7/wBZTH2+TTJVqf5G6ZPNhVi4+GN0yzqB1dOWw3I9OWQIGLcZHcBBIij3Jr2PbJbmBJMRaOkxFss2KiK6QqMg7nz9Cd+flFFlcs3G7k1Uh6ZAX+hVjGNiLWBLbIlsedf+j7US2LxnyUA0BPfNzMXZnYgTY1jf/QVLg8sebi9/P2UVRkiumWdDn1yLKWRXUo2LqWc6hnQpYFlZRDOpNWymtkDCW8rZLqAI3wYzRgObDv6/BVHOxNFdfUpj29TSAnz+hmnzsDJ51GU7AdPT51LIIioLIEDkeoFHpFaTJrR02TWsBEyW2Q+bzcltkVEl8hEX5+2MuYiO/gqLapeR6ZLVuURIo3wT2vNkPe+bE9oElrJLN/z+iq3OxHa/BQqSzYVNvgMXYuPkCexZ0BS8GsiL/wA8gUVssqZFUuSyoiuhp3m509Ozl0M6enAvqZTAmqZXAgMl1CKya8CJ50MG0eAcxJ7+me5RHOon3+2OjnU0gZLwMphmwuW+dRlW+IDpULksgQ6dlsGQN3PUwdz0ivJsltZRMnsYRLZ7kdz8FVrIrpZsUSXSXn4Exa/D+g7pLEKht+P0VFdUiqLJanz9D4hTJSJ7R8nnQltn4AltzqTzz1H2N5uS2bgKms6CpPkZLgTZ7gT250FdM2GWS5E/78MCqnbNi2vYhol4ZbDcC7TnU0+xyKG/J1tL7kV0aiysloRZWQHsS3lexNegI2s6GCaMBzmmMUs2M48/AXsyoW5h1POgEuP0HWyi+l8lcGR0srgQNTPUwUgkQDNk9rHzQizOwEdzIL2X3HO1LKIbXmwEHmxrJ+fv+g1yKi2sfF5uIqHL3CmN+V87iLFm4x+RU87AS251JpplNsfH6JZx5AXKGbCLFz9j5cfO5PYuM9gJLfb7FLv/AAdbuJXH7AsoWYy2BHp2WxzuBRT7nU0sjlUnV0i4IOrQy2sj064LYEUTYi0pZNagJnnUx60YCKUfBnHkOUWDJFQiUUHVsBJhQaKLqSqDIqWWQIHJhIWmGmQeTEWDZiZgS3HN1LZ0bjm6pL8Mo5l03+Qa5ntyBraKi6llCZPQyhPwvgK9bzdiLH4Q6WdxM2BNYTTb/D+Si3OgiWdwEyl7CptDpbiJt5uBLaxSfkbdFk6A6OlLEiPRrwWtZjAdSdbRo49Kzc62kiQdjTlsCHTotgiKNk9o9iLAEM8CZgJZLwDIJo8kVE0z2sGZ7W83RRXX7lUGSV51RVWQOTDQCDRAE0KmOmJsAkuOZqjp3HL1fJocu55uBWFes6gVlR0KJFCaJaFmxUs6EHudhNg1sTYgqaedBE9sSH2Ink/H0Apipv8AO46Un+NvcRZnVAS3SQmM86jbXz8f0XEDpaPbNy1ol0WdS2XsB5V3Oro/Q5Vb6+h1tEiDr6dFkUS6criRWaE2D2IsASzBGAj3Cl2PD2RUSWvweQlx8M9tBh7fZRTUyutktRTAgegkAg4kGkKmhshMwJbjl6rOp07kcvVGhyr3539wKwr9sYurbx8hHQpKYvOhNQylPOgHshM34+mNbXgVNhU9mdyeb8D57fgRJrGAmTEWc/RROS9f2TzkvTb5Akul5F1vr6jLXm4Fcnv/AEDr6Pt6lku3qS6TOqKpLoANS6nW0Zya+/r8nV0ediDtacriSacriRXrETzsPZPMANs6Hp58GAmaNIxioluAgYxRVUUQZjED4jImMQDIVNmMBDqGczUGMaHLvBqMYItoKDGCiYuwxgJLRLMYBUxMmYwEl4qvuYwHY0vYqb6GMB5WdXRGMQdrTFcTwxFEyawxgFmMYD//2Q==");
display: inline-block;

}
#mainbody{
border: dashed transparent 1px;
width: 69.78%;
height: 725px;
float: left;
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJNqdoifOUhHX6c6kQsEXftx8J-iyTQ9CIVA&usqp=CAU");
}
#android{
        padding: 3px;
    border-top: inset darkslategray 3px;
    border-left: inset darkslategray 3px;
    background-image: url("https://t4.ftcdn.net/jpg/01/80/88/83/360_F_180888381_rdtPrvoRyUt7QcsWctphVkc0C40dJdJ0.jpg");
float: left;
}
#ios{
    background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxAQEhANDxAQDw0NDQ0NDQ0QEBAQDQ0NFREWFhURFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDg0NDisZFRkrKysrKysrKy0rKysrNysrLSsrKystLTcrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAMIBAwMBIgACEQEDEQH/xAAaAAADAQEBAQAAAAAAAAAAAAACAwQABQEH/8QAKBAAAgIBAwMEAwEBAQAAAAAAAAECA/AEEXEhMWFBgZGhUbHhEtHx/8QAFgEBAQEAAAAAAAAAAAAAAAAAAAEC/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A+gsCaX4/QbYucs2Nso7O+f8AS3TMhk+v8L9Myi+pl1TIKi6ogoiMQuIxEV7uZsx5ICO6Qr/Qd/cUwAmxTYcxTkEZi2MYtsoFi5INsGXAEtqJpFNz8ErlnYAlz+wJLNmHEGTCp7UKUXjQ67OolPn5CH1cFdWdCStFdXsFVVlECetlECB8WNixUBsQGI8ZjxgYx5uYDm56Az4PVI0iohnvv/S7TIjt7lemZR0Ki6ohpLqiB8RsRURsSK9PJHoMwIL+4ph6juJYQMxZpMAoPOwEj3cB+wGkxcmGDNgSXMmks6lF3sIaWID2L5FWZ3G7ip8/TARYBGXj5CtaAgs6gUV8IqredCavO5TUFVQKK3nUnrZTBkD4Z3GxEwGxYDQWegyYHm5gdzBXOi+Pk0vYBM9edjTKWx9SzS8/ZHZ37fZZpUB0aS2shpL6yBsUNigIjIkV6kDMICwDnX9xMmMu7iphCJsBMKbAXP0ihqBkerk8YA9QJMPdgTb/ACBNbnYlk2UWoRJLGAK3/IMk/wAh7+foBpc++wCLc6sCIdueotLj4AohLgqqI4MrqedQqusogyasprIHwHRFQQ6KAICbGC5gKPQGzBXPjJYw5MRWxvXP/DTKex9SrS7eCaxeSnTIDo0surIqNy2sgfEZEUhkSKMXZ2C2F29gOdd3EzG29xMyomsbxgJs10hcZPNgKoszYMGZt4gPdwJrOp7uBN+GBNa/BPKQ+150Jpy8sD1Ayfj6PIyzEDN+H8gJtkLTzoe3PwBF5uBRVIrqfJDW0V1SCrq35KaySplVYFMB8SeA6PJAwVYMF2gIZgXnQ8CudXyP3zGIrZQkaZTWtlGl3E28sdpvf4A6lBbWRUItrIHRGRFoOJFGJu7Dtye9gQWCbBtjJ7M7lRLcKi+QrRS5QFlYTYqt+RoHm4uyQ18irGgI7Xz9Es87FNuxLPcoyfgCb5Nz+gJeCBNsvGfAtZ3PbJPx8gJ+EBRWyul8kMJPNyulhXRpkV1t/ghpLagKoZ0HRQitFEUQHsIu9ignuYEjS8GM2ehXNra9SleP0Sx7/wBZTH2+TTJVqf5G6ZPNhVi4+GN0yzqB1dOWw3I9OWQIGLcZHcBBIij3Jr2PbJbmBJMRaOkxFss2KiK6QqMg7nz9Cd+flFFlcs3G7k1Uh6ZAX+hVjGNiLWBLbIlsedf+j7US2LxnyUA0BPfNzMXZnYgTY1jf/QVLg8sebi9/P2UVRkiumWdDn1yLKWRXUo2LqWc6hnQpYFlZRDOpNWymtkDCW8rZLqAI3wYzRgObDv6/BVHOxNFdfUpj29TSAnz+hmnzsDJ51GU7AdPT51LIIioLIEDkeoFHpFaTJrR02TWsBEyW2Q+bzcltkVEl8hEX5+2MuYiO/gqLapeR6ZLVuURIo3wT2vNkPe+bE9oElrJLN/z+iq3OxHa/BQqSzYVNvgMXYuPkCexZ0BS8GsiL/wA8gUVssqZFUuSyoiuhp3m509Ozl0M6enAvqZTAmqZXAgMl1CKya8CJ50MG0eAcxJ7+me5RHOon3+2OjnU0gZLwMphmwuW+dRlW+IDpULksgQ6dlsGQN3PUwdz0ivJsltZRMnsYRLZ7kdz8FVrIrpZsUSXSXn4Exa/D+g7pLEKht+P0VFdUiqLJanz9D4hTJSJ7R8nnQltn4AltzqTzz1H2N5uS2bgKms6CpPkZLgTZ7gT250FdM2GWS5E/78MCqnbNi2vYhol4ZbDcC7TnU0+xyKG/J1tL7kV0aiysloRZWQHsS3lexNegI2s6GCaMBzmmMUs2M48/AXsyoW5h1POgEuP0HWyi+l8lcGR0srgQNTPUwUgkQDNk9rHzQizOwEdzIL2X3HO1LKIbXmwEHmxrJ+fv+g1yKi2sfF5uIqHL3CmN+V87iLFm4x+RU87AS251JpplNsfH6JZx5AXKGbCLFz9j5cfO5PYuM9gJLfb7FLv/AAdbuJXH7AsoWYy2BHp2WxzuBRT7nU0sjlUnV0i4IOrQy2sj064LYEUTYi0pZNagJnnUx60YCKUfBnHkOUWDJFQiUUHVsBJhQaKLqSqDIqWWQIHJhIWmGmQeTEWDZiZgS3HN1LZ0bjm6pL8Mo5l03+Qa5ntyBraKi6llCZPQyhPwvgK9bzdiLH4Q6WdxM2BNYTTb/D+Si3OgiWdwEyl7CptDpbiJt5uBLaxSfkbdFk6A6OlLEiPRrwWtZjAdSdbRo49Kzc62kiQdjTlsCHTotgiKNk9o9iLAEM8CZgJZLwDIJo8kVE0z2sGZ7W83RRXX7lUGSV51RVWQOTDQCDRAE0KmOmJsAkuOZqjp3HL1fJocu55uBWFes6gVlR0KJFCaJaFmxUs6EHudhNg1sTYgqaedBE9sSH2Ink/H0Apipv8AO46Un+NvcRZnVAS3SQmM86jbXz8f0XEDpaPbNy1ol0WdS2XsB5V3Oro/Q5Vb6+h1tEiDr6dFkUS6criRWaE2D2IsASzBGAj3Cl2PD2RUSWvweQlx8M9tBh7fZRTUyutktRTAgegkAg4kGkKmhshMwJbjl6rOp07kcvVGhyr3539wKwr9sYurbx8hHQpKYvOhNQylPOgHshM34+mNbXgVNhU9mdyeb8D57fgRJrGAmTEWc/RROS9f2TzkvTb5Akul5F1vr6jLXm4Fcnv/AEDr6Pt6lku3qS6TOqKpLoANS6nW0Zya+/r8nV0ediDtacriSacriRXrETzsPZPMANs6Hp58GAmaNIxioluAgYxRVUUQZjED4jImMQDIVNmMBDqGczUGMaHLvBqMYItoKDGCiYuwxgJLRLMYBUxMmYwEl4qvuYwHY0vYqb6GMB5WdXRGMQdrTFcTwxFEyawxgFmMYD//2Q==");
    border-top: inset darkslategray 3px;
    border-left: inset darkslategray 3px;
    padding: 3px;
float: left;
}
#webapp{
    padding: 3px;
    border-top: inset darkslategray 3px;
    border-left: inset darkslategray 3px;
    float: left;
    background-image: url("https://images.freecreatives.com/wp-content/uploads/2016/01/Golden-Metal-Texture-Free-Vector-Background.jpg");
}


#packagetypes{
height: 300px;
width: 100%;
align-content: center;
border: dashed transparent 1px;
text-align: center;
}

.tile{
float: left;
width: 30%;
height: 325px;
margin-left: 1.25%;
margin-right: 1.25%;
    border: dashed transparent 1px;
}

.type{
padding-top: 10px;
font-size: 22pt;
font-family: monospace;
display: inline-block;
}

#packageimages{
    
    padding-top: 10px;
    height: 200px;
width: 100%;
border: dashed transparent 1px;
}

.productfeatures{
    text-align: left;
}

.typeimage{
    border: inset black 2px;
    width: 150px;
    height: 150px;
  
    margin-top: 50px;
    margin-left: 125px;
    margin-right: 125px;
}
#footernavbar{
    text-align: right;
    font-family: sans-serif;
    color: cornflowerblue;
    padding-right: 10px;
    
    
}

.footernavitem{
    display: inline-block;
}
footer ul li::before {
    content: "| ";
    padding-right: 0.07em;
    color: white;
}

        #androidbutton{
            width: 120px;
            height: 50px;
            background-image: url("https://t4.ftcdn.net/jpg/01/80/88/83/360_F_180888381_rdtPrvoRyUt7QcsWctphVkc0C40dJdJ0.jpg");
            color: rgb(37, 5, 5);
            font-family: sans-serif;
        }
        #iosbutton{
            width: 120px;
            height: 50px;
            background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxAQEhANDxAQDw0NDQ0NDQ0QEBAQDQ0NFREWFhURFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDg0NDisZFRkrKysrKysrKy0rKysrNysrLSsrKystLTcrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAMIBAwMBIgACEQEDEQH/xAAaAAADAQEBAQAAAAAAAAAAAAACAwQABQEH/8QAKBAAAgIBAwMEAwEBAQAAAAAAAAECA/AEEXEhMWFBgZGhUbHhEtHx/8QAFgEBAQEAAAAAAAAAAAAAAAAAAAEC/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A+gsCaX4/QbYucs2Nso7O+f8AS3TMhk+v8L9Myi+pl1TIKi6ogoiMQuIxEV7uZsx5ICO6Qr/Qd/cUwAmxTYcxTkEZi2MYtsoFi5INsGXAEtqJpFNz8ErlnYAlz+wJLNmHEGTCp7UKUXjQ67OolPn5CH1cFdWdCStFdXsFVVlECetlECB8WNixUBsQGI8ZjxgYx5uYDm56Az4PVI0iohnvv/S7TIjt7lemZR0Ki6ohpLqiB8RsRURsSK9PJHoMwIL+4ph6juJYQMxZpMAoPOwEj3cB+wGkxcmGDNgSXMmks6lF3sIaWID2L5FWZ3G7ip8/TARYBGXj5CtaAgs6gUV8IqredCavO5TUFVQKK3nUnrZTBkD4Z3GxEwGxYDQWegyYHm5gdzBXOi+Pk0vYBM9edjTKWx9SzS8/ZHZ37fZZpUB0aS2shpL6yBsUNigIjIkV6kDMICwDnX9xMmMu7iphCJsBMKbAXP0ihqBkerk8YA9QJMPdgTb/ACBNbnYlk2UWoRJLGAK3/IMk/wAh7+foBpc++wCLc6sCIdueotLj4AohLgqqI4MrqedQqusogyasprIHwHRFQQ6KAICbGC5gKPQGzBXPjJYw5MRWxvXP/DTKex9SrS7eCaxeSnTIDo0surIqNy2sgfEZEUhkSKMXZ2C2F29gOdd3EzG29xMyomsbxgJs10hcZPNgKoszYMGZt4gPdwJrOp7uBN+GBNa/BPKQ+150Jpy8sD1Ayfj6PIyzEDN+H8gJtkLTzoe3PwBF5uBRVIrqfJDW0V1SCrq35KaySplVYFMB8SeA6PJAwVYMF2gIZgXnQ8CudXyP3zGIrZQkaZTWtlGl3E28sdpvf4A6lBbWRUItrIHRGRFoOJFGJu7Dtye9gQWCbBtjJ7M7lRLcKi+QrRS5QFlYTYqt+RoHm4uyQ18irGgI7Xz9Es87FNuxLPcoyfgCb5Nz+gJeCBNsvGfAtZ3PbJPx8gJ+EBRWyul8kMJPNyulhXRpkV1t/ghpLagKoZ0HRQitFEUQHsIu9ignuYEjS8GM2ehXNra9SleP0Sx7/wBZTH2+TTJVqf5G6ZPNhVi4+GN0yzqB1dOWw3I9OWQIGLcZHcBBIij3Jr2PbJbmBJMRaOkxFss2KiK6QqMg7nz9Cd+flFFlcs3G7k1Uh6ZAX+hVjGNiLWBLbIlsedf+j7US2LxnyUA0BPfNzMXZnYgTY1jf/QVLg8sebi9/P2UVRkiumWdDn1yLKWRXUo2LqWc6hnQpYFlZRDOpNWymtkDCW8rZLqAI3wYzRgObDv6/BVHOxNFdfUpj29TSAnz+hmnzsDJ51GU7AdPT51LIIioLIEDkeoFHpFaTJrR02TWsBEyW2Q+bzcltkVEl8hEX5+2MuYiO/gqLapeR6ZLVuURIo3wT2vNkPe+bE9oElrJLN/z+iq3OxHa/BQqSzYVNvgMXYuPkCexZ0BS8GsiL/wA8gUVssqZFUuSyoiuhp3m509Ozl0M6enAvqZTAmqZXAgMl1CKya8CJ50MG0eAcxJ7+me5RHOon3+2OjnU0gZLwMphmwuW+dRlW+IDpULksgQ6dlsGQN3PUwdz0ivJsltZRMnsYRLZ7kdz8FVrIrpZsUSXSXn4Exa/D+g7pLEKht+P0VFdUiqLJanz9D4hTJSJ7R8nnQltn4AltzqTzz1H2N5uS2bgKms6CpPkZLgTZ7gT250FdM2GWS5E/78MCqnbNi2vYhol4ZbDcC7TnU0+xyKG/J1tL7kV0aiysloRZWQHsS3lexNegI2s6GCaMBzmmMUs2M48/AXsyoW5h1POgEuP0HWyi+l8lcGR0srgQNTPUwUgkQDNk9rHzQizOwEdzIL2X3HO1LKIbXmwEHmxrJ+fv+g1yKi2sfF5uIqHL3CmN+V87iLFm4x+RU87AS251JpplNsfH6JZx5AXKGbCLFz9j5cfO5PYuM9gJLfb7FLv/AAdbuJXH7AsoWYy2BHp2WxzuBRT7nU0sjlUnV0i4IOrQy2sj064LYEUTYi0pZNagJnnUx60YCKUfBnHkOUWDJFQiUUHVsBJhQaKLqSqDIqWWQIHJhIWmGmQeTEWDZiZgS3HN1LZ0bjm6pL8Mo5l03+Qa5ntyBraKi6llCZPQyhPwvgK9bzdiLH4Q6WdxM2BNYTTb/D+Si3OgiWdwEyl7CptDpbiJt5uBLaxSfkbdFk6A6OlLEiPRrwWtZjAdSdbRo49Kzc62kiQdjTlsCHTotgiKNk9o9iLAEM8CZgJZLwDIJo8kVE0z2sGZ7W83RRXX7lUGSV51RVWQOTDQCDRAE0KmOmJsAkuOZqjp3HL1fJocu55uBWFes6gVlR0KJFCaJaFmxUs6EHudhNg1sTYgqaedBE9sSH2Ink/H0Apipv8AO46Un+NvcRZnVAS3SQmM86jbXz8f0XEDpaPbNy1ol0WdS2XsB5V3Oro/Q5Vb6+h1tEiDr6dFkUS6criRWaE2D2IsASzBGAj3Cl2PD2RUSWvweQlx8M9tBh7fZRTUyutktRTAgegkAg4kGkKmhshMwJbjl6rOp07kcvVGhyr3539wKwr9sYurbx8hHQpKYvOhNQylPOgHshM34+mNbXgVNhU9mdyeb8D57fgRJrGAmTEWc/RROS9f2TzkvTb5Akul5F1vr6jLXm4Fcnv/AEDr6Pt6lku3qS6TOqKpLoANS6nW0Zya+/r8nV0ediDtacriSacriRXrETzsPZPMANs6Hp58GAmaNIxioluAgYxRVUUQZjED4jImMQDIVNmMBDqGczUGMaHLvBqMYItoKDGCiYuwxgJLRLMYBUxMmYwEl4qvuYwHY0vYqb6GMB5WdXRGMQdrTFcTwxFEyawxgFmMYD//2Q==");

            color:  rgb(37, 5, 5);
            font-family: sans-serif;
        }
        #webappbutton{
            width: 120px;
            height: 50px;
            background-image: url("https://images.freecreatives.com/wp-content/uploads/2016/01/Golden-Metal-Texture-Free-Vector-Background.jpg");
            color:  rgb(37, 5, 5);
            font-family: sans-serif;
        }
        #rusty{
            height: 100px;
            width: 100px;
            float: right;
            margin-right: 150px;
            border-radius: 45% 45% 45% 45%;
        }
        #chett{
            height: 100px;
            width: 100px;
            float: right;
            margin-right: 150px;
            border-radius: 45% 45% 45% 45%;
        }
        #bobby{
            height: 100px;
            width: 100px;
            float: right;
            margin-right: 150px;
            border-radius: 45% 45% 45% 45%;
        }
        #charlie{
            height: 100px;
            width: 100px;
            float: right;
            margin-right: 150px;
            border-radius: 45% 45% 45% 45%;
        }
        a:hover{
            color: white;
            background-color: black;
        }
        
